<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset='utf-8'>
  <title><%= content_for?(:title) ? yield(:title) : "MidnightExpress.cz - Midnajti hudební duo" %></title>
  <meta name="description" content="Rádi zahrajeme na Vaší rodinné i veřejné AKCI, svatbě, plese, zábavě,
  prostě všude tam, kde nesmí chybět živá hudba, tanec a dobrá nálada.">
  <meta name="keywords" content="živá hudba, hudba na svatbě, rodinné akce, hudba na plese, hudební duo">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe&text=MidnightExpress' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="video-index">
<header class="navbar" id="home">
  <nav class="navbar-inner">
    <div class="container content960">
      <ul class="inline pull-right">
        <li><a href="#" class="btn btn-mini btn-primary"><i class="famfamfam-flag-cz"></i> Česky</a></li>
        <li><a href="#" class="btn btn-mini btn-primary"><i class="famfamfam-flag-gb"></i> English</a></li>
        <li><a href="#" class="btn btn-mini btn-primary"><i class="famfamfam-flag-de"></i> Deutch</a></li>

      </ul>
    </div>
  </nav>
</header>
<div class="container content960">
  <%= yield %>
</div>
<!--! end of #main -->
<footer>
  <div class="container content960">

    <div class="row-fluid">
      <div class="span2 logo">
        <h5>Midnight
          <small>|Express</small>
        </h5>
      </div>
      <div class="span10">
        <ul class="inline">
          <li><a href="#home" class="local">2012 MidnightExpress.cz</a></li>
          <li class="horizontal-divider">&nbsp;</li>
          <li><a href="#contact" class="local">Kontakty</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
